.col2{
   background-color: none;
}
.col{
   background-color: green;
}
.path {
   background-color: rgb(121, 85, 7);
}

.background {
   
   background-color: #3a4907;
   background-image: url("https://www.transparenttextures.com/patterns/grey-sandbag.png");

}
.garden {
   border: rgb(52, 155, 66) solid 10px;  
}
.row {
   margin-left: 0!important;
   margin-right: 0!important;

} 
.departure {
   background-image: url("https://www.transparenttextures.com/patterns/ps-neutral.png");
}

.col2, .col, .path, .garden, .line {
   padding-top: 12%;
   color: blue;
   text-align: center;
   vertical-align: center !important; 
} 
